@import './base.css';

#app {
  width: 100%;
  overflow: hidden;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(288, 20%, 49%, 0.206);
  }
}


  body {
    display: flex;
    place-items: center;
  }

